# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
from pprint import pprint
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import (gkey, weather_api_key, census_key)

In [2]:
print(f"{gkey} {weather_api_key} {census_key}") 
gmaps.configure(api_key = gkey)

AIzaSyA_81hCZvA6Ebl5nSnDaAZV3WZlIHCnB8Y 4590c5ec8685f9f5773effc12d3ac68b f1b3d1a0ec98647356f745a0f5e5571f40060042

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_df = pd.read_csv('output_data/cities.csv')
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
locations = cities_df[['Lat', 'Lng']]
humidity = cities_df['Humidity']

atlanta_lat_ng = [33.7490, 84.3880]

fig = gmaps.figure(zoom_level=1.5, center=atlanta_lat_ng)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
good_weather_df = cities_df.loc[(cities_df['Max Temp']>70) & (cities_df['Max Temp']<80) & (cities_df['Wind Speed']<10) & (cities_df['Cloudiness']==0)]
good_weather_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
good_weather_df['Hotel'] = ""
good_weather_df['Hotel_Lat'] = ""
good_weather_df['Hotel_Lng'] = ""
good_weather_df

C:\Users\Kannappan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Kannappan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Kannappan\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel,Hotel_Lat,Hotel_Lng
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44,,,
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,,,
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,,,
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,,,
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,,,
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,,,
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,,,
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,,,

In [21]:
params = {
    "distance": 5000,
    "rankby" : "distance",
    "type":"lodging",
    "key" : gkey
}
hotel_df = good_weather_df.copy(deep=True)

for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat}, {lng}"
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(url, params=params).json()
    results = response['results']

    try:
        hotel_df.loc[index, 'Hotel'] = results[0]['name']
        hotel_df.loc[index, 'Hotel_Lat'] = results[0]['geometry']['location']['lat']
        hotel_df.loc[index, 'Hotel_Lng'] = results[0]['geometry']['location']['lng']

    except: # catch *all* exceptions
        e = sys.exc_info()[0]
        write_to_page( "<p>Error: %s</p>" % e )
    # pprint(results)
            
print(hotel_df.shape)
hotel_df

(8, 13)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel,Hotel_Lat,Hotel_Lng
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44,Ohakane Guesthouse,-18.0592,13.8406
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,RANCHINHO DO PEDRO Chalés em Capitólio Mg,-20.6297,-45.9993
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,Contêiner 01,-30.1774,-50.2166
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,Lot D 24 bis Andakabe,-20.2978,44.2809
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,Dandeli Dreams Jungle resorts,15.3476,74.482
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,blerbi hayat,35.1686,-2.92758
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,Pyae Phyo Kyaw Guest House - Burmese Only,22.9199,96.5079
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,آموزشگاه کویران,32.8654,59.2186

In [24]:
narrowed_city_df = hotel_df[hotel_df.Hotel != '']
print(narrowed_city_df.shape)

(8, 13)

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations2 = hotel_df[["Lat", "Lng"]]
hotel_info

['\n<dl>\n<dt>Name</dt><dd>Ohakane Guesthouse</dd>\n<dt>City</dt><dd>opuwo</dd>\n<dt>Country</dt><dd>nan</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>RANCHINHO DO PEDRO Chalés em Capitólio Mg</dd>\n<dt>City</dt><dd>ponta do sol</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Contêiner 01</dd>\n<dt>City</dt><dd>cidreira</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Lot D 24 bis Andakabe</dd>\n<dt>City</dt><dd>morondava</dd>\n<dt>Country</dt><dd>MG</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Dandeli Dreams Jungle resorts</dd>\n<dt>City</dt><dd>vaini</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>blerbi hayat</dd>\n<dt>City</dt><dd>nador</dd>\n<dt>Country</dt><dd>MA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Pyae Phyo Kyaw Guest House - Burmese Only</dd>\n<dt>City</dt><dd>mogok</dd>\n<dt>Country</dt><dd>MM</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>آموزشگاه کویران</dd>\n<dt>City</dt><dd>birjand</dd>\n<dt>Country</dt><dd>IR</dd>\n</dl>\n']

In [33]:
# Add marker layer ontop of heat map
fig2 = gmaps.figure()
marker_layer = gmaps.marker_layer(locations2, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display Map
fig2

Figure(layout=FigureLayout(height='420px'))